@viewport {
  width: device-width;
  zoom: 1.0;
  height: device-height;
}

:root{
  --dark-green: #354B46;
  --dark-blue: #2F4858;
  --pastelblue: #343E44;
  --bordeaux: #994C4D;

  --netflix: black;
  --youtube: rgb(218, 38, 36);
  --aternos: rgb(43, 135, 211);
  --gmail1: rgb(231, 52, 32);
  --gmail2: rgb(255, 255, 255);
  --gmail3: rgb(210, 35, 13);
  --twitch: rgb(100,65,165);

  --hrbgdiv: calc(100% / 5);

  --icon-w: 60px;
  --icon-h: 60px;

  --logo-height: 74.666667px;
  --logo-width: calc(var(--logo-height) * 1.5);

}

body{
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
    /* background: linear-gradient(#2F4858, #343E44); */
    background-image: url('backgrounds/nightsky.jpg');
    background-size: contain;
    margin: 0;
    width: 100%;
}

#content{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 56px);
    width: 100%;
    padding-top: 56px;
    position: relative;
    z-index: 1;
}
#container, #links-container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    margin-bottom: 8px;
    overflow: hidden;
    padding: 2px;
    width: fit-content;
}

.hr-bottom, .hr-top{
  display: block;
  background: #E8F3F1;
  /*
  background: linear-gradient(to right,
    transparent 0%,
    black 2%, black 18%,
    transparent 20%,
    rgb(218, 38, 36) 22%, rgb(218, 38, 36) 38%,
    transparent 40%,
    rgb(43, 135, 211) 42%, rgb(43, 135, 211) 58%,
    transparent 60%,
    rgb(231, 52, 32) 62%,
    rgb(255, 255, 255) 70%,
    rgb(210, 35, 13) 78%,
    transparent 80%,
    rgb(100,65,165) 82%, rgb(100,65,165) 98%,
    transparent 100%
    );
  */
  height: 2px;
}

#twitchBox{
  position: relative;
}

form {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 44px;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}
::placeholder {
  color: #fff;
  opacity: 0.5;
  transition: all 0.2s ease;
}
input:focus::placeholder{
  opacity: 0;
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}
svg {
  color: rgba(255, 255, 255, 0.5);
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}
svg:hover{
  color: rgba(255, 255, 255, 1);
}

.upperBox{

  align-content: center;
  border-radius: 10px;
  margin: 6px;
  margin-bottom: 30px;

}
#searchbox::after{
  display: block;
  content: "";
  height: 2px;
  /* border-image-source: linear-gradient(90deg,
    transparent 49.5%,
    rgba(232, 243, 241, 0.5) 49.5%,
    rgba(232, 243, 241, 0.5) 50.5%,
    transparent 50.5%
    );
  border-image-slice: 1; */
  /* border-color: rgba(0, 0, 0, 0.1);
  width: 1%;

  border-style: dotted; */

  background: linear-gradient(to right,
    white 50%,
    rgba(255, 255, 255, 0.2) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;

  margin-bottom: -20px;

  transition: all 0.2s ease-in;
}
#searchbox:focus-within::after{
  /* border-image-source: linear-gradient(red, red); */
  /* border-style: solid;
  border-color: rgba(250, 80, 80, 0.8); */
  /* width: 100%; */
  background-position: left bottom;
}

.channelBox{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  overflow-x: auto;
}
.channel-button{
  position: relative;
  width: 74px;
}

.coll-img, .coll-bg, .add-img, .add-bg{
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  width: var(--icon-w);
  height: var(--icon-h);
  cursor: pointer;
  border-radius: 50px;
  margin: 5px 7px;
  opacity: 0.5;
  transition: all 0.2s ease-in, opacity 0.2s ease-in;
  transform-origin: center;
}
.coll-bg, .add-bg{
  opacity: 0;
  z-index: -2;
  position: absolute;
  filter: blur(.5em);
  transition: opacity ease-in 150ms;
}

.coll-img:hover, .add-img:hover{
  opacity: 0.7;
  transform: scale(1.05);
  border-radius: 10px;
}
.coll-img:active, .coll-bg:active, .add-img:active, .add-bg:active{
  opacity: 1;
  transform: scale(1.05);
}
.coll-img:active + .coll-bg, .add-img:active + .add-bg{
  opacity: 1;
  border-radius: 10px;
}

.channel-border{
  z-index: -1;
  top: 0;
  left: 0;
  width: calc(var(--icon-w) + 5px);
  height: calc(var(--icon-h) + 5px);
  position: absolute;
  border: 2px red solid;
  border-radius: 50%;
}

/* twitch stream */
.content {
  padding: 0 18px;
  width: 0%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

#links-container{
  margin-top: 5px;
  padding-top: 5px;
  overflow-x: auto;

  transition: all 0.2 ease;

}
#links-container.hovered{
  opacity: 0;
}

a.aimg{
	-webkit-tap-highlight-color: transparent;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: var(--logo-height);
  outline: none;
  position: relative;
  text-decoration: none;
  user-select: none;
  width: 112px;
  margin: 15px 5px 0;
  background: rgba(0, 0, 0, 0);
  transition: all 0.2s linear 0s;
}
div.icenter{
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: var(--logo-height);
    justify-content: center;
    transition: all 0.2s linear 0s;

}
.icenter img{
	border-radius: 10px;
	height: inherit;
	width: var(--logo-width);
  opacity: 0.8;
  transition: all 0.2s linear 0s;
}
.ltitle{
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;;
    align-items: center;
    border-radius: 0 0 10px 10px;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    height: 32px;
    line-height: 16px;
    margin-top: -25px;
    padding: -2px 8px;
    width: var(--logo-width);
    opacity: 0;
    transition: all 0.2s linear;
    z-index: -1;
    /* background-color: rgba(255, 255, 255, 0.3);*/
}
.ltitle span{
	font-weight: 400;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
a.aimg:hover .ltitle{
  margin-top: -20px;
  opacity: 1;
}

a.aimg:hover .icenter img{
	opacity: 1;
  transform: translateX(0px) translateY(-20px);
  border-radius: 10px 10px 0 0;
}

a.aimg:hover{
  border-radius: 0;
}

#ai1:hover{
  background: rgba(0,0,0,0.3);
  border-radius: 10px;

  transform: translateX(0px) translateY(+9px);
}
#ai2:hover{
  background: rgba(218, 38, 36, 0.3);
  border-radius: 10px;
  /*
    linear-gradient(
      rgba(218, 38, 36, 0.8) 0%,
      rgba(218, 38, 36, 0.8) 40%,
      rgba(218, 38, 36, 0) 98%
    );
  */
  transform: translateX(0px) translateY(+9px);
}
#ai3:hover{
  background: rgba(43, 135, 211, 0.3);
  border-radius: 10px;
  transform: translateX(0px) translateY(+9px);
}
#ai4{
  background: linear-gradient(to right,
  rgba(231, 52, 32, 0.3) 10%,
  rgba(255, 255, 255, 0.3) 10%,
  rgba(255, 255, 255, 0.3) 90%,
  rgba(231, 52, 32, 0.3) 90%,
  rgba(231, 52, 32, 0.3) 100%
  );
}
#ai4:hover{

    background: linear-gradient(to right,
    rgba(231, 52, 32, 0.3) 10%,
    rgba(255, 255, 255, 0.3) 10%,
    rgba(255, 255, 255, 0.3) 90%,
    rgba(231, 52, 32, 0.3) 90%,
    rgba(231, 52, 32, 0.3) 100%
    );

  border-radius: 10px;
  transform: translateX(0px) translateY(+9px);
}
#ai5:hover{
  background: rgba(100,65,165,0.3);
  border-radius: 10px;

  transform: translateX(0px) translateY(+9px);
}

/* animations

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
*/
